<div class="footer footer--bg">
    <div class="grid wide footer-container">
        <div class="about-us">
        <div class="row">
                <div class="col col l-4"></div>
                <div class="col col l-8">
                    <div class="row">
                        <div class="col l-4">
                            <h4 class="title">Chính sách</h4>
                            <ul>
                                <li *ngFor="let i of policies" class="pd-upper-5" >
                                    {{i.label}}
                                </li>
                            </ul>
                        </div>
                        <div class="col l-4">
                            <h4 class="title">tìm hiểu thêm</h4>
                            <ul>
                                <li *ngFor="let i of infoMores" class="pd-upper-5" >
                                    {{i.label}}
                                </li>
                            </ul>
                        </div>
                        <div class="col l-4">
                            <h4 class="title">đối tác</h4>
                            <ul>
                                <li *ngFor="let i of partners" class="pd-upper-5" >
                                    {{i.label}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="payment">
                <h4 class="title">Cách thức thanh toán</h4>
                <div class="payment-logo">
                    <div class="payment-logo-wrapper">
                        <div class="fix-img">
                            <img src="/assets/logo/payment-method/momo-logo.png"
                                alt="" />
                        </div>
                    </div>
                    <div class="payment-logo-wrapper">
                        <div class="fix-img">
                            <img
                                src="/assets/logo/payment-method/paypal-logo.png"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>