<div #imageCarousel class="image-carousel">
    <div class="image-carousel__item-list-wrapper grid">
        <ul #imageCarouselList class="image-carousel__item-list row no-gutters
            no-wrap">
            <li #imageCarouselItem class="image-carousel__item col l-2-4 c-3"
                *ngFor="let item of itemList; index as idx">
                <div class="airport-carousel-item-wrapper">
                    <div class="airport-carousel-item" [style.borderColor]="primaryClr">
                        <div class="airport-carousel-item__image">
                            <img src="https://n1-cstg.mioto.vn/g/2022/04/14/17/NGXIIKNY.jpg"
                                alt="">
                        </div>
                    </div>
                    <h3>Tân Sơn Nhất</h3>
                </div>
            </li>
        </ul>
    </div>
    <div #carouselArrowPrev class="carousel-arrow carousel-arrow--hint
        carousel-arrow--prev"[class.carousel-arrow--hidden]="sltIdx === 0"
        (click)="processCarousel('-')">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div #carouselArrowNext class="carousel-arrow carousel-arrow--hint
        carousel-arrow--next" [class.carousel-arrow--hidden]="isLastIdx"
        (click)="processCarousel('+')">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <ul class="carousel-dots" [class.carousel-dots--show]="carouselDotsActive">
        <li #carouselDotEleRef class="carousel-dot" *ngFor="let item of carouselParts, index as
            idx" [style]="idx ===
            carouselService.currentPartIdx ? carouselDotActive : carouselDotUnActive" (click)="sltDotCarousel(idx)" ></li>
    </ul>
</div>