<div class="order-overview">
    <div class="order-overview__info">
        <h1 class="order-overview__title">
            SUZUKI XL7 2020
        </h1>
        <div class="row order-overview__body">
                <div class="col l-4">
                    <div class="cover-image">
                        <img src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/toyota_rush_2020/p/g/2020/07/27/14/M8rokWqgWGq-igXzKyqGmA.jpg" alt="">
                    </div>
                </div>
                <div class="col l-8">
                    <div class="desc">
                        <div>
                            <strong>Tên chủ xe: </strong> Huỳnh Gia Huy
                        </div>
                        <div>
                            <strong>Loại xe: </strong> <div class="form-tag" [style]="'backgroundColor: rgb(231,234,239); color: rgb(120,120,120)'">Số tự động</div>
                        </div>
                        <div>
                            <strong>Chế độ: </strong> <div class="form-tag">Tự lái</div>
                        </div>
                        <div class="start-time">
                            <strong>Bắt đầu: </strong> 20:00 Thứ 4, 08/09/2021
                        </div>
                        <div class="end-time">
                            <strong>Kết thúc: </strong> 20:00 Thứ 4, 08/09/2021
                        </div>
                        <div class="total-payment">
                            Tổng thanh toán:<span> 3420000đ</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="order-overview__status">
        <div class="status">
            <div class="dot active"></div>
            <p [style]="'margin: 0'">Đã đặt cọc</p>
        </div>
        <div class="timer">1 tháng trước</div>
    </div>
</div>