<div class="owner__register-form">
    <div class="owner__register-container">
        <div class="owner__register-content bg-white">
            <mat-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="carInformationFormGroup">
                    <form [formGroup]="carInformationFormGroup">
                        <ng-template matStepLabel>Thông tin</ng-template>
                        <!-- start form field -->
                        <div class="register__car-title">
                            <h2>Biển số xe</h2>
                            <p class="cl-danger register__car-subtitle">Lưu ý: Biển số sẽ không thể thay đổi sau khi
                                đăng kí.</p>
                        </div>
                        <mat-form-field class="input__car-form cl-black" appearance="outline">
                            <mat-label class="cl-black">Biển số xe</mat-label>
                            <input matInput placeholder="Biển số xe" formControlName="carNumberPlate" required>
                            <mat-error
                                *ngIf="carInformationFormGroup.hasError('pattern') || !carInformationFormGroup.hasError('required')">
                                Vui lòng nhập biển số xe hợp lệ
                            </mat-error>
                        </mat-form-field>
                        <!-- end form field -->

                        <!-- start form field -->
                        <div class="register__car-title">
                            <h1>Thông tin cơ bản</h1>
                            <p class="cl-danger register__car-subtitle">Lưu ý: Các thông tin cơ bản sẽ không thể thay
                                đổi sau khi đăng kí.
                            </p>
                        </div>
                        <div class="d-flex-bo flex-wrap-bo basic__information-container">
                            <mat-form-field class="basic__information-field cl-black" appearance="outline">
                                <mat-label class="cl-black">Hãng xe</mat-label>
                                <mat-select matInput formControlName="carBrand">
                                    <mat-option value="0">Audi</mat-option>
                                    <mat-option value="1">Vinfast</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng chọn hãng xe
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="basic__information-field cl-black" appearance="outline">
                                <mat-label class="cl-black">Mẫu xe</mat-label>
                                <mat-select matInput formControlName="carModel">
                                    <mat-option value="0">Audi A1</mat-option>
                                    <mat-option value="1">Vinfast Lux A2.0</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng chọn mẫu xe
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="basic__information-field cl-black" appearance="outline">
                                <mat-label class="cl-black">Số ghế</mat-label>
                                <mat-select matInput formControlName="carSeats">
                                    <mat-option *ngFor="let i of carSeatRange;" [value]="i">{{i}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng chọn số ghế
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="basic__information-field cl-black" appearance="outline">
                                <mat-label class="cl-black">Năm sản xuất</mat-label>
                                <mat-select matInput formControlName="carProdYear">
                                    <mat-option *ngFor="let i of carProduceYearRange;" [value]="i">{{i}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng chọn năm sản xuất
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="basic__information-field cl-black" appearance="outline">
                                <mat-label class="cl-black">Truyền động</mat-label>
                                <mat-select matInput formControlName="carTransmission">
                                    <mat-option value="0">Số tự động</mat-option>
                                    <mat-option value="1">Số sàn</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng chọn truyền động của xe
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="basic__information-field cl-black" appearance="outline">
                                <mat-label class="cl-black">Loại nhiên liệu</mat-label>
                                <mat-select matInput formControlName="carFuel">
                                    <mat-option value="0">Xăng</mat-option>
                                    <mat-option value="1">Dầu diesel</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng chọn nhiên liệu của xe
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- end form field -->

                        <!-- start form field -->
                        <div class="register__car-title">
                            <h1>Mức tiêu thụ nhiên liệu</h1>
                            <p class="text-secondary register__car-subtitle">Số lít nhiên liệu cho quãng đường 100km.
                            </p>
                        </div>
                        <div class="d-flex-bo flex-wrap-bo basic__information-container">
                            <mat-form-field class="basic__information-field" appearance="outline">
                                <mat-label class="cl-black">Mức tiêu thụ nhiên liệu</mat-label>
                                <input matInput placeholder="Mức tiêu thụ nhiên liệu"
                                    formControlName="carFuelConsumption" required>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng nhập mức tiêu thụ hợp lệ
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- end form field -->

                        <!-- start form field -->
                        <div class="register__car-title">
                            <h1>Mô tả</h1>
                        </div>
                        <div class="d-flex-bo flex-wrap-bo basic__information-container mr-t-10">
                            <mat-form-field class="w-fit" appearance="outline">
                                <textarea matInput placeholder="Mô tả" formControlName="carDescription"
                                    required></textarea>
                                <mat-error *ngIf="!carInformationFormGroup.hasError('required')">
                                    Vui lòng nhập mô tả
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- end form field -->

                        <!-- start form field -->
                        <div class="register__car-title">
                            <h1>Tính năng</h1>
                        </div>
                        <div
                            class="d-flex-bo flex-wrap-bo align-items-center-bo text-center car__information-features mr-t-10">
                            <div class="car__information-feature" *ngFor="let item of carFeaturesTemplate"
                                (click)="handleClickFeature(item.id)">
                                <div class="car__features-item" [id]="item?.id">
                                    <img [src]="item.iconUrl" alt="404" width="30">
                                    <p>{{item?.title}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end form field -->

                        <div class="d-flex-bo flex-wrap-bo align-items-center-bo car__information__footer">
                            <button mat-button matStepperPrevious class="btn__secondary">Quay lại</button>
                            <button mat-button matStepperNext class="btn__primary">Kế tiếp</button>
                        </div>
                    </form>
                </mat-step>

                <!-- second form -->
                <mat-step [stepControl]="forRentFormGroup" label="Cho thuê">
                    <form [formGroup]="forRentFormGroup">
                        <!-- start form field -->
                        <div class="register__car-title">
                            <h2>Đơn giá thuê mặc định</h2>
                            <p class="text-secondary register__car-subtitle">Đơn giá áp dụng cho tất cả các ngày. Bạn có
                                thuể tuỳ chỉnh giá khác cho các ngày đặc biệt (cuối tuần, lễ, tết...) trong
                                mục quản lý xe sau khi đăng kí.
                            </p>
                            <p class="text-secondary register__car-subtitle">Giá đề xuất: {{recommendPriceInFormat}}
                            </p>
                        </div>
                        <mat-form-field class="input__car-form" appearance="outline">
                            <mat-label class="cl-black">Đơn giá thuê mặc định</mat-label>
                            <input matInput placeholder="Đơn giá thuê mặc định" formControlName="defaultPrice" required>
                            <mat-error
                                *ngIf="carInformationFormGroup.hasError('pattern') || !carInformationFormGroup.hasError('required')">
                                Vui lòng nhập đơn giá thuê mặc định hợp lệ
                            </mat-error>
                        </mat-form-field>
                        <!-- end form field -->

                        <div
                            class="register__car-title d-flex-bo flex-wrap-bo basic__information-container discount__status-container">
                            <div class="discount__status-field">
                                <h2>Giảm giá</h2>
                            </div>
                            <div class="discount__status-field ml-auto" [formGroup]="toggleDiscountGroup">
                                <mat-slide-toggle formControlName="isDiscount">
                                </mat-slide-toggle>
                            </div>
                        </div>

                        <div *ngIf="toggleDiscountGroup.get('isDiscount')?.value===true"
                            [formGroup]="toggleDiscountGroup" class="d-flex-bo flex-wrap-bo discount__field-group">
                            <div class="discount__field mobile-fw-flex">
                                <p class="discount__subtitle">Giảm giá thuê tuần (% trên đơn giá)</p>
                                <mat-slider min="1" max="100" step="1">
                                    <input matSliderThumb formControlName="discountPercentByWeek">
                                </mat-slider>
                                <p class="discount__subtitle">
                                    {{toggleDiscountGroup.get('discountPercentByWeek')?.value+"%"}}</p>
                            </div>
                            <div class="discount__field flex-end mobile-fw-flex">
                                <p class="discount__subtitle">Giảm giá thuê tháng (% trên đơn giá)</p>
                                <mat-slider min="1" max="100" step="1">
                                    <input matSliderThumb formControlName="discountPercentByMonth">
                                </mat-slider>
                                <p class="discount__subtitle">
                                    {{toggleDiscountGroup.get('discountPercentByMonth')?.value+"%"}}</p>
                            </div>
                        </div>
                        <!-- end form field -->

                        <!-- start form field -->
                        <div
                            class="register__car-title d-flex-bo flex-wrap-bo basic__information-container discount__status-container">
                            <div class="discount__status-field">
                                <h2>Đặt xe nhanh</h2>
                            </div>
                            <div class="discount__status-field ml-auto" [formGroup]="toggleFastRentGroup">
                                <mat-slide-toggle formControlName="isFastRent">
                                </mat-slide-toggle>
                            </div>
                            <p class="cl-danger register__car-subtitle">Bật tính năng cho phép khách hàng đặt xe
                                ngay lập tức không cần chủ xe phê duyệt. (Phù hợp với chủ xe không thường xuyên
                                online hoặc kiểm tra điện thoại)
                                Lưu ý : Bạn cần đảm bảo việc cần cập nhật lịch bận xe thường xuyên, trường hợp hủy
                                chuyến sau
                                khi khách đặt cọc vì chưa cập nhật
                                lịch bận sẽ áp dụng phí hủy chuyến (100% tiền đặt cọc)
                            </p>
                        </div>

                        <div *ngIf="toggleFastRentGroup.get('isFastRent')?.value===true"
                            [formGroup]="toggleFastRentGroup" class="d-flex-bo flex-wrap-bo align-between g-20">
                            <mat-form-field class="fast__rent-6 mobile-fw-flex" appearance="outline">
                                <mat-label class="cl-black">Giới hạn từ</mat-label>
                                <mat-select matInput formControlName="limitFrom">
                                    <mat-option value="6">6 tiếng tới</mat-option>
                                    <mat-option value="12">12 tiếng tới</mat-option>
                                    <mat-option value="24">24 tiếng tới</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="fast__rent-6 mobile-fw-flex" appearance="outline">
                                <mat-label class="cl-black">Giới hạn từ</mat-label>
                                <mat-select matInput formControlName="untilWeek">
                                    <mat-option value="1">1 tiếng tới</mat-option>
                                    <mat-option value="2">2 tiếng tới ( khuyến nghị )</mat-option>
                                    <mat-option value="3">3 tiếng tới</mat-option>
                                    <mat-option value="4">4 tiếng tới</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="register__car-title d-flex-bo flex-wrap-bo basic__information-container discount__status-container">
                            <div class="discount__status-field">
                                <h2>Địa chỉ xe</h2>
                            </div>
                        </div>

                        <div
                            class="register__car-title d-flex-bo flex-wrap-bo basic__information-container discount__status-container address__div-input">
                            <div class="discount__status-field">
                                <p>{{
                                    forRentFormGroup.get("defaultLocation")?.value !==""
                                    ?forRentFormGroup.get("defaultLocation")?.value:"Địa chỉ mặc định để giao nhận xe."
                                    }}</p>
                            </div>
                            <div class="discount__status-field ml-auto" (click)="toggleAddressModal()">
                                <img src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/map.png" alt="404" width="20">
                            </div>
                        </div>
                        <p class="cl-danger register__car-subtitle" *ngIf="!addressFormGroup.hasError('required')">Vui
                            lòng chọn địa chỉ giao nhận xe</p>

                        <div id="myModal" class="modal__address" *ngIf="showAddressModal===true">
                            <div class="modal__address-content">
                                <span class="close" (click)="toggleAddressModal()">&times;</span>
                                <div class="modal__address-title">
                                    <h2>Chỉnh sửa địa chỉ</h2>
                                </div>
                                <div class="modal__address-fields">
                                    <h3>Địa chỉ <span class="cl-danger">*</span></h3>
                                    <div class="modal__address-field" [formGroup]="addressFormGroup">
                                        <p class="text-secondary">Tỉnh/ Thành phố</p>
                                        <mat-form-field appearance="outline" class="w-fit">
                                            <mat-select matInput formControlName="city"
                                                (selectionChange)="onChangeCity()" placeholder="Chọn Tỉnh/ Thành phố">
                                                <mat-option [value]="item.areaCode"
                                                    *ngFor="let item of cities">{{item.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!addressFormGroup.hasError('required')">
                                                Vui lòng chọn tỉnh/thành phố
                                            </mat-error>
                                        </mat-form-field>
                                        <p class="text-secondary">Quận/ Huyện</p>
                                        <mat-form-field appearance="outline" class="w-fit">
                                            <mat-select matInput formControlName="district"
                                                (selectionChange)="onChangeDistrict()" placeholder="Chọn quận/ huyện">
                                                <mat-option [value]="item.id"
                                                    *ngFor="let item of fetchedDistricts">{{item.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!addressFormGroup.hasError('required')">
                                                Vui lòng chọn quận/ huyện
                                            </mat-error>
                                        </mat-form-field>
                                        <p class="text-secondary">Phường/ Xã</p>
                                        <mat-form-field appearance="outline" class="w-fit">
                                            <mat-select matInput formControlName="ward" placeholder="Chọn Phường/ Xã">
                                                <mat-option [value]="item.id"
                                                    *ngFor="let item of fetchedWards">{{item.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!addressFormGroup.hasError('required')">
                                                Vui lòng chọn phường/ xã
                                            </mat-error>
                                        </mat-form-field>
                                        <p class="text-secondary">Đường</p>
                                        <mat-form-field appearance="outline" class="w-fit">
                                            <input matInput placeholder="Nhập tên đường/ tòa nhà"
                                                formControlName="street" required [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option *ngFor="let option of fetchedLocation"
                                                    [value]="option.address">
                                                    {{option.address}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="!addressFormGroup.hasError('required')">
                                                Vui lòng nhập đường hợp lệ
                                            </mat-error>
                                        </mat-form-field>
                                        <button class="btn__location-action bg-black" (click)="toggleAddressModal()">Hủy
                                            bỏ</button>
                                        <button class=" btn__location-action ml-10 bg-gemstone"
                                            [disabled]="this.addressFormGroup.status==='INVALID'?true:''"
                                            (click)="onSubmitAddress()">Áp
                                            dụng</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- start form field -->
                        <div
                            class="register__car-title d-flex-bo flex-wrap-bo basic__information-container discount__status-container">
                            <div class="discount__status-field">
                                <h2>Giao xe tận nơi</h2>
                            </div>
                            <div class="discount__status-field ml-auto" [formGroup]="toggleDeliveryGroup">
                                <mat-slide-toggle formControlName="isDeliveryToTenant">
                                </mat-slide-toggle>
                            </div>
                        </div>

                        <div *ngIf="toggleDeliveryGroup.get('isDeliveryToTenant')?.value===true"
                            [formGroup]="toggleDeliveryGroup" class="d-flex-bo flex-wrap-bo discount__field-group">
                            <div class="discount__field mobile-fw-flex">
                                <p class="discount__subtitle">Phí giao nhận xe</p>
                                <mat-slider min="1000" max="20000" step="1000">
                                    <input matSliderThumb formControlName="deliveryFee">
                                </mat-slider>
                                <p class="discount__subtitle">
                                    {{toggleDeliveryGroup.get('deliveryFee')?.value+"Đ"}}</p>
                            </div>
                        </div>

                        <!-- start form field -->
                        <div
                            class="register__car-title d-flex-bo flex-wrap-bo basic__information-container discount__status-container">
                            <div class="discount__status-field">
                                <h2>Điều khoản thuê xe</h2>
                                <p class="text-secondary register__car-subtitle mb-0">Ghi rõ các yêu cầu để khách có thể
                                    thuê xe.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex-bo flex-wrap-bo basic__information-container mr-t-10"
                            [formGroup]="forRentFormGroup">
                            <mat-form-field class="w-fit" appearance="outline">
                                <textarea matInput
                                    placeholder="VD: Không sử dụng xe vào mục đích phi pháp. Lái xe cẩn thận, giữ xe sạch sẽ, trả xe đúng giờ. Phụ thu 500k nếu hút thuốc lá trong xe."
                                    formControlName="policies" rows="5"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="d-flex-bo flex-wrap-bo align-items-center-bo car__information__footer mt-0">
                            <button mat-button matStepperPrevious class="btn__secondary">Quay lại</button>
                            <button mat-button matStepperNext class="btn__primary">Kế tiếp</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Hình ảnh</ng-template>
                    <div
                        class="register__car-title d-flex-bo flex-wrap-bo basic__information-container discount__status-container">
                        <div class="discount__status-field">
                            <h2>Hình ảnh</h2>
                            <p class="text-secondary register__car-subtitle mb-0">Đăng nhiều hình ở các góc độ khác nhau
                                để tăng thông tin cho xe của bạn.
                            </p>
                        </div>
                    </div>

                    <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'" [maxFileSize]="1000000"
                        [expandable]="true">
                        <ngx-dropzone-label>
                            <i class="fa-solid fa-arrow-up-from-bracket ico__upload"></i>
                            <p>
                                Kéo thả hình ảnh vào đây hoặc <button mat-raised-button class="btn__upload">chọn hình
                                    ảnh</button>
                            </p>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [removable]="true" (removed)="onRemove(f)" [file]="f">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                            <ngx-dropzone-label></ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    <div class="d-flex-bo flex-wrap-bo align-items-center-bo car__information__footer">
                        <button mat-button matStepperPrevious class="btn__secondary">Quay lại</button>
                        <button mat-button matStepperNext class="btn__primary">Hoàn thành</button>
                        <!-- <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="stepper.reset()">Reset</button>
                            </div> -->
                    </div>
                </mat-step>
            </mat-stepper>

        </div>
    </div>
</div>