<div class="banner">
    <div class="grid">
        <div class="row">
            <div class="col l-12">
                <div class="banner__insurance-partner">
                    <p class="title">đối tác bảo hiểm</p>
                    <div class="partner-logo">
                        <div class="row">
                            <div class="partner-logo col l-4">
                                <img class="image-fit" src="https://www.mioto.vn/static/media/global-care.f6fdc8ef.png"
                                    alt="" />
                            </div>
                            <div class="partner-logo col l-4">
                                <img class="image-fit" src="https://www.mioto.vn/static/media/mic.e9091023.png"
                                    alt="" />
                            </div>
                            <div class="partner-logo col l-4">
                                <img class="image-fit" src="https://www.mioto.vn/static/media/l_pjico.bb9b4a65.png"
                                    alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner__search-by-service">
                    <h1 class="slogan landing-text">
                        CAR RENTAL - CÙNG BẠN TRÊN MỌI <br />
                        HÀNH TRÌNH
                    </h1>
                    <div class="search-by-service__box">
                        <div class="row sm-gutters">
                            <div class="col l-4">
                                <div class="service-box service-box--first"
                                    [class.active]="serviceType === 'SELF_DRIVING'"
                                    (click)="serviceType = 'SELF_DRIVING'">
                                    <i class="service-box__icon service-box__icon--selfdrive"></i>
                                    <p>Xe tự lái</p>
                                </div>
                                <div class="service-box" [class.active]="serviceType === 'DRIVER'"
                                    (click)="serviceType = 'DRIVER'">
                                    <i class="service-box__icon service-box__icon--driver"></i>
                                    <p>Xe có tài xế</p>
                                </div>
                            </div>
                            <div class="col l-8">
                                <div class="search-wrapper">
                                    <ng-container *ngIf="serviceType === 'SELF_DRIVING'; else withDriver">
                                        <form id="self-driving__search-form" class="search-form">
                                            <div class="search-form__control">
                                                <label class="home-label w-fit">Địa điểm</label>
                                                <mat-form-field style="display: block" appearance="fill">
                                                    <mat-label>Nhập thành phố, quận, địa chỉ,...</mat-label>
                                                    <input type="text" matInput
                                                        [matAutocomplete]="pickUpPlaceOfSelfDrivingAuto"
                                                        [formControl]="addressControl" />
                                                    <mat-autocomplete #pickUpPlaceOfSelfDrivingAuto="matAutocomplete">
                                                        <mat-option *ngFor="
                                let option of filteredAddressOptions | async
                              " [value]="option">
                                                            {{ option }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="search-form__control">
                                                <label class="home-label w-fit">Bắt đầu</label>
                                                <div class="row sm-gutters">
                                                    <div class="col l-6">
                                                        <mat-form-field style="width: 100%" appearance="fill">
                                                            <mat-label>Chọn một ngày</mat-label>
                                                            <input matInput
                                                                [matDatepicker]="startDateOfUrbanDriverPicker" />
                                                            <mat-datepicker-toggle matIconSuffix
                                                                [for]="startDateOfUrbanDriverPicker">
                                                                <mat-icon style="color: var(--primary-text-color)"
                                                                    matDatepickerToggleIcon>keyboard_arrow_down
                                                                </mat-icon>
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #startDateOfUrbanDriverPicker>
                                                            </mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col l-6">
                                                        <mat-form-field appearance="fill" style="width: 100%">
                                                            <mat-label>Chọn giờ </mat-label>
                                                            <mat-select [(value)]="selectedQuantity">
                                                                <mat-option *ngFor="let hr of hrs"
                                                                    [value]="selectedQuantity">
                                                                    {{ hr }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search-form__control">
                                                <label class="home-label w-fit">Kết thúc</label>
                                                <div class="row sm-gutters">
                                                    <div class="col l-6">
                                                        <mat-form-field style="width: 100%" appearance="fill">
                                                            <mat-label>Chọn một ngày</mat-label>
                                                            <input matInput
                                                                [matDatepicker]="endDateOfUrbanDriverPicker" />
                                                            <mat-datepicker-toggle matIconSuffix
                                                                [for]="endDateOfUrbanDriverPicker">
                                                                <mat-icon style="color: var(--primary-text-color)"
                                                                    matDatepickerToggleIcon>keyboard_arrow_down
                                                                </mat-icon>
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #endDateOfUrbanDriverPicker>
                                                            </mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col l-6">
                                                        <mat-form-field appearance="fill" style="width: 100%">
                                                            <mat-label>Chọn giờ </mat-label>
                                                            <mat-select [(value)]="selectedQuantity">
                                                                <mat-option *ngFor="let hr of hrs"
                                                                    [value]="selectedQuantity">
                                                                    {{ hr }} tiếng
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <button mat-raised-button class="w-fit"
                                                style="color: var(--gemstone-color)">
                                                <div class="d-flex-bo align-items-center-bo">
                                                    <mat-icon>search</mat-icon>
                                                    Tìm xe ngay
                                                </div>
                                            </button>
                                        </form>
                                    </ng-container>
                                    <ng-template #withDriver>
                                        <mat-tab-group style="color: var(--primary-text-color)"
                                            animationDuration="2000ms">
                                            <mat-tab label="Nội thành">
                                                <ng-container *ngTemplateOutlet="urban"></ng-container>
                                            </mat-tab>
                                            <mat-tab label="Liên tỉnh">
                                                <ng-container *ngTemplateOutlet="interMunicipal"></ng-container>
                                            </mat-tab>
                                            <ng-template #urban>
                                                <form [formGroup]="driverServiceFormGroup" class="search-form">
                                                    <div class="search-form__control mr-t-10">
                                                        <label class="home-label w-fit">Điểm đón</label>
                                                        <mat-form-field style="display: block" appearance="fill">
                                                            <mat-label>Nhập thành phố, quận, địa chỉ,...</mat-label>
                                                            <input formControlName="pickUpPlace" type="text" matInput
                                                                [matAutocomplete]="auto" />
                                                            <mat-autocomplete #auto="matAutocomplete">
                                                                <mat-option *ngFor="
                                    let option of filteredAddressOptions | async
                                  " [value]="option">
                                                                    {{ option }}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </div>
                                                    <div formGroupName="startTime" class="search-form__control">
                                                        <label class="home-label w-fit">Thời gian</label>
                                                        <div class="row">
                                                            <div class="col l-6">
                                                                <mat-form-field style="width: 100%" appearance="fill">
                                                                    <mat-label>Chọn một ngày</mat-label>
                                                                    <input formControlName="rentalDate" matInput
                                                                        [matDatepicker]="startRentalDateOfUrbanDriverPicker" />
                                                                    <mat-datepicker-toggle matIconSuffix
                                                                        [for]="startRentalDateOfUrbanDriverPicker">
                                                                        <mat-icon
                                                                            style="color: var(--primary-text-color)"
                                                                            matDatepickerToggleIcon>keyboard_arrow_down
                                                                        </mat-icon>
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #startRentalDateOfUrbanDriverPicker>
                                                                    </mat-datepicker>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col l-6">
                                                                <mat-form-field appearance="fill" style="width: 100%">
                                                                    <mat-label>Chọn giờ bắt đầu thuê</mat-label>
                                                                    <mat-select formControlName="startHour">
                                                                        <mat-option
                                                                            *ngFor="let option of startAndReturnHrOptions"
                                                                            [value]="option.value">
                                                                            {{ option.label }}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col l-12">
                                                                <mat-form-field appearance="fill" style="width: 100%">
                                                                    <mat-label>Số giờ thuê </mat-label>
                                                                    <mat-select formControlName="rentalHours">
                                                                        <mat-option
                                                                            *ngFor="let rentalHrOption of rentalHrOptions"
                                                                            [value]="rentalHrOption.value">
                                                                            <div
                                                                                class="d-flex-bo align-items-center-bo">
                                                                                <div>
                                                                                    <p>
                                                                                        {{ rentalHrOption.label }}
                                                                                    </p>
                                                                                    <h5 style="font-weight: 300;"
                                                                                        *ngIf="rentalHrOption.subLabel && withDriverTimeUp && this.driverServiceFormGroup.get('startTime')?.get('rentalHours')?.value === -1">
                                                                                        {{ rentalHrOption.subLabel }}
                                                                                    </h5>
                                                                                </div>
                                                                            </div>
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="search-form__control"
                                                        *ngIf="withDriverTimeUp && this.driverServiceFormGroup.get('startTime')?.get('rentalHours')?.value !== -1">
                                                        <div class="row">
                                                            <div class="col l-12">
                                                                <p style="padding-left: 16px; font-size: 1.6rem">
                                                                    {{withDriverTimeUp}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div formGroupName="endTime" class="search-form__control"
                                                        *ngIf="this.driverServiceFormGroup.get('startTime')?.get('rentalHours')?.value === -1">
                                                        <label class="home-label w-fit">Kết thúc</label>
                                                        <div class="row">
                                                            <div class="col l-6">
                                                                <mat-form-field style="width: 100%" appearance="fill">
                                                                    <mat-label>Chọn một ngày</mat-label>
                                                                    <input formControlName="rentalDate" matInput [matDatepicker]="endRentalDateOfUrbanDriverPicker" />
                                                                    <mat-datepicker-toggle matIconSuffix [for]="endRentalDateOfUrbanDriverPicker">
                                                                        <mat-icon
                                                                            style="color: var(--primary-text-color)"
                                                                            matDatepickerToggleIcon>keyboard_arrow_down
                                                                        </mat-icon>
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #endRentalDateOfUrbanDriverPicker></mat-datepicker>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col l-6">
                                                                <mat-form-field appearance="fill" style="width: 100%">
                                                                    <mat-label>Chọn giờ kết thúc thuê</mat-label>
                                                                    <mat-select formControlName="endHour">
                                                                        <mat-option
                                                                            *ngFor="let option of startAndReturnHrOptions"
                                                                            [value]="option.value">
                                                                            {{ option.label }}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button mat-raised-button class="w-fit" (click)="onSubmitUrbanWithDriverForm()"
                                                        style="color: var(--gemstone-color)">
                                                        <div class="d-flex-bo align-items-center-bo">
                                                            <mat-icon>search</mat-icon>
                                                            Tìm xe ngay
                                                        </div>
                                                    </button>
                                                </form>
                                            </ng-template>
                                            <ng-template #interMunicipal>
                                                <form [formGroup]="driverServiceFormGroup" class="search-form">
                                                    <div class="search-form__control mr-t-10">
                                                        <label class="home-label w-fit">Lộ trình</label>
                                                        <!-- địa điểm đón -->
                                                        <mat-form-field style="display: block" appearance="fill">
                                                            <mat-label>Nhập địa điểm đón cụ thể</mat-label>
                                                            <input formControlName="" type="text" matInput
                                                                [matAutocomplete]="auto" />
                                                            <mat-autocomplete #auto="matAutocomplete">
                                                                <mat-option *ngFor="
                                    let option of filteredAddressOptions | async
                                  " [value]="option">
                                                                    {{ option }}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                            <!-- địa điểm trả khách -->
                                                        </mat-form-field>
                                                        <mat-form-field style="display: block" appearance="fill">
                                                            <mat-label>Nhập địa điểm trả khách cụ thể</mat-label>
                                                            <input formControlName="" type="text" matInput
                                                                [matAutocomplete]="auto" />
                                                            <mat-autocomplete #auto="matAutocomplete">
                                                                <mat-option *ngFor="
                                    let option of filteredAddressOptions | async
                                  " [value]="option">
                                                                    {{ option }}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                        <section>
                                                            <mat-checkbox>Tôi muốn đi một chiều</mat-checkbox>
                                                        </section>
                                                    </div>
                                                    <div formGroupName="startTime" class="search-form__control">
                                                        <label class="home-label w-fit">Thời gian</label>
                                                        <div class="row">
                                                            <div class="col l-6">
                                                                <mat-form-field style="width: 100%" appearance="fill">
                                                                    <mat-label>Chọn một ngày</mat-label>
                                                                    <input formControlName="rentalDate" matInput
                                                                        [matDatepicker]="startRentalDateOfUrbanDriverPicker" />
                                                                    <mat-datepicker-toggle matIconSuffix
                                                                        [for]="startRentalDateOfUrbanDriverPicker">
                                                                        <mat-icon
                                                                            style="color: var(--primary-text-color)"
                                                                            matDatepickerToggleIcon>keyboard_arrow_down
                                                                        </mat-icon>
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #startRentalDateOfUrbanDriverPicker>
                                                                    </mat-datepicker>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col l-6">
                                                                <mat-form-field appearance="fill" style="width: 100%">
                                                                    <mat-label>Chọn giờ </mat-label>
                                                                    <mat-select formControlName="startHour"
                                                                        [(value)]="selectedQuantity">
                                                                        <mat-select formControlName="startHour">
                                                                            <mat-option
                                                                                *ngFor="let option of startAndReturnHrOptions"
                                                                                [value]="option.value">
                                                                                {{ option.label }}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col l-12">
                                                                <mat-form-field appearance="fill" style="width: 100%">
                                                                    <mat-label>Số giờ thuê </mat-label>
                                                                    <mat-select formControlName="rentalHours"
                                                                        [(value)]="selectedQuantity">
                                                                        <mat-option *ngFor="let hr of hrs"
                                                                            [value]="selectedQuantity">
                                                                            {{ hr }}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="search-form__control">
                                                        <label class="home-label w-fit">Kết thúc</label>
                                                        <div class="row">
                                                            <div class="col l-6">
                                                                <mat-form-field style="width: 100%" appearance="fill">
                                                                    <mat-label>Chọn một ngày</mat-label>
                                                                    <input matInput [matDatepicker]="picker" />
                                                                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                                                                        <mat-icon
                                                                            style="color: var(--primary-text-color)"
                                                                            matDatepickerToggleIcon>keyboard_arrow_down
                                                                        </mat-icon>
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #picker></mat-datepicker>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col l-6">
                                                                <mat-form-field appearance="fill" style="width: 100%">
                                                                    <mat-label>Chọn giờ </mat-label>
                                                                    <mat-select [(value)]="selectedQuantity">
                                                                        <mat-option *ngFor="let hr of hrs"
                                                                            [value]="selectedQuantity">
                                                                            {{ hr }}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button mat-raised-button class="w-fit"
                                                        style="color: var(--gemstone-color)">
                                                        <div class="d-flex-bo align-items-center-bo">
                                                            <mat-icon>search</mat-icon>
                                                            Tìm xe ngay
                                                        </div>
                                                    </button>
                                                </form>
                                            </ng-template>
                                        </mat-tab-group>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>