<div class="owner">
    <div class="grid wide">
        <div class="owner-wrapper">
            <div class="inner__wrapper">
                <h2>Bạn muốn cho thuê xe</h2>
                <p>
                    Hãy đăng kí trở thành đối tác của chúng tôi ngay để có cơ hội kiếm thêm thu nhập hằng tháng.
                </p>
                <div class="has-2btn">
                    <a class="btn btn-secondary btn--m">Tìm hiểu ngay</a>
                    <a class="btn btn-primary btn--m">Đăng ký xe</a>
                </div>
            </div>
        </div>
    </div>
</div>