<div class="owner">
    <div class="grid wide">
        <div class="owner-wrapper">
            <div class="inner__wrapper">
                <h2>Bạn muốn cho thuê xe</h2>
                <p>
                    Hãy đăng kí trở thành đối tác của chúng tôi ngay để có cơ hội kiếm thêm thu nhập hằng tháng.
                </p>
                <div class="has-2btn">
                    <button [style]="'color: white; border: 1px solid'" class="btn btn-m" mat-stroked-button>Tìm hiểu ngay</button>
                    <button class="btn btn-m" mat-raised-button color="primary">Đăng ký xe</button>
                </div>
            </div>
        </div>
    </div>
</div>