<div class="car__listing-container">
    <div class="d-flex-bo flex-wrap-bo car__listing-content">
        <div class="car__listing-column bx__shadow-1" [formGroup]="myCarsFormGroup">
            <h2>TRẠNG THÁI</h2>
            <mat-form-field class="w-fit cl-black" appearance="outline">
                <mat-select matInput formControlName="carStatus">
                    <mat-option value="ALL">Tất cả</mat-option>
                    <mat-option value="ACTIVE">Đang hoạt động</mat-option>
                    <mat-option value="PENDING_APPROVAL">Đang chờ duyệt</mat-option>
                    <mat-option value="BUSY">Bận</mat-option>
                    <mat-option value="RENTED">Đã được thuê</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="car__listing-empty" *ngIf="filteredCarList.length < 1">
            <p class="text-center">Không có dữ liệu</p>
        </div>
        <div class="car__listing-column bx__shadow-1" *ngIf="filteredCarList.length > 0">
            <h2>DANH SÁCH XE</h2>
            <div class="d-flex-bo flex-wrap-bo car__list">
                <!-- start car item -->
                <div class="d-flex-bo flex-wrap-bo car__list-items" *ngFor="let item of filteredCarList">
                    <div class="car__listing-item">
                        <div [class]="'car__status '+ getStatusClassname(item.status)">
                            <p [class]="'status-text ' + getStatusClassname(item.status)">
                                {{getStatusName(item.status)}}</p>
                        </div>
                        <img [src]="BASE_IMG+item.imageUrl">
                    </div>
                    <div class="car__listing-item mt-2-h">
                        <h2 class="text-uppercase">{{item.name}}</h2>
                        <span *ngIf="item.avgRating>0">
                            <i class="fa-solid fa-star cl-star"
                                *ngFor="let item of [].constructor(getRoundedRate(item.avgRating))"></i>
                            <i class="fa-solid fa-star text-secondary"
                                *ngFor="let item of [].constructor(5-getRoundedRate(item.avgRating))"></i>
                            - {{item.totalRental}} chuyến</span>
                        <span *ngIf="item.avgRating===0">
                            <i class="fa-solid fa-star text-secondary" *ngFor="let item of [].constructor(5)"></i>
                        </span>
                        <div class="text-price">
                            <h3>{{getMoneyInFormat(item.defaultPrice)}}</h3>
                        </div>
                        <div class="car__listing-action">
                            <button routerLink="/car/huy/312" class="btn__detail">Xem chi tiết</button>
                            <button [routerLink]="'/car-owner/car-listing/'+item.id" class="btn__management">Quản lý
                                xe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>