.destination-carousel-item{
    margin-right: 15px;
}
.destination-carousel-item__image{
    position: relative;
    max-width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    padding-bottom: 133.33%;
}
.destination-carousel-item__image--overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 60%;
    border-radius: 0 0 10px 10px;
}

.destination-carousel-item__image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.carousel-arrow.carousel-arrow--left{
}
.carousel-arrow.carousel-arrow--next{
    right: 15px
}
