.header{
    height: 60px;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.header--bg{
    background-color: var(--primary-color);
}
.header__logo{
    margin-right: 60px
}
.header__menu{

}
.sign-in-btn,.sign-up-btn{
    color: var(--primary-text-color) !important
}
.sign-in-btn:hover,.sign-up-btn:hover{
    color: var(--gemstone-color) !important
}
.sign-up-btn{
    border-color: var(--primary-text-color) !important
}
.sign-up-btn:hover{
    border-color: var(--gemstone-color) !important
}
.wheel-svg-icon{
   
}
.header__become-owner{
    margin-right: 60px;
}
