<div class="grid wide">
    <div class="header header--bg">
        <div class="row">
            <div class="col l-6">
                <div class="d-flex-bo">
                    <div class="header__logo">
                        LOGO
                    </div>
                    <div class="header__contact">
                        <div class="h-list">
                            <div class="h-item">
                                <mat-icon> phone</mat-icon>
                                <span>1900 9217</span>
                            </div>
                            <div class="h-item">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l-6">
                <div class="header__menu">

                </div>
                <div class="header__become-owner">

                </div>
            </div>
        </div>
    </div>
</div>