<div class="rental__details-container">

    <div class="rental__details-stepper bg-white">
        <mat-stepper linear #stepper selectedIndex="0">
            <mat-step [editable]="false">
                <ng-template matStepLabel>Duyệt cho thuê</ng-template>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Đã giao xe</ng-template>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Khách trả xe</ng-template>
            </mat-step>
        </mat-stepper>
    </div>

    <div class="rental__details-warning" *ngIf="isPending()">
        <p>Bạn cần duyệt yêu cầu đặt xe trước thời hạn, nếu không hệ thống sẽ tự động hủy chuyến.</p>
        <p>Thời gian còn lại: {{timeLeft}}</p>
    </div>

    <div class="d-flex-bo flex-wrap-bo rental__details-content bg-white" *ngIf="rental_details">
        <div class="rental__details-column">
            <div class="d-flex-bo flex-wrap-bo rental__details-header">
                <img [src]="BASE_IMG+rental_details.bannerUrl" [alt]="rental_details.model">
                <span>
                    <h2>{{rental_details.model}}</h2>
                    <i class="fa-solid fa-star cl-star"
                        *ngFor="let item of [].constructor(rental_details.avgRating)"></i>
                    <i class="fa-solid fa-star text-secondary"
                        *ngFor="let item of [].constructor(5-rental_details.avgRating)"></i>
                </span>
            </div>
            <div class="rental__details-daterange">
                <h2>Thời gian thuê xe</h2>
                <div class="d-flex-bo flex-wrap-bo">
                    <div>
                        <p>
                            Bắt đầu: {{getFormattedDate(rental_details.startDate)}}
                        </p>
                    </div>
                    <div class="ml-auto">
                        <p>
                            Kết thúc: {{getFormattedDate(rental_details.endDate)}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="rental__details-limit">
                <h2>Giới hạn quãng đường</h2>
                <p *ngIf="rental_details.distanceLimit < 1">Không giới hạn quãng đường</p>
                <p *ngIf="rental_details.distanceLimit > 1">{{rental_details.distanceLimit}} KM</p>
            </div>
        </div>
        <div class="rental__details-column">
            <div class="renter__information text-center">
                <a routerLink="/">
                    <img src="https://n1-cstg.mioto.vn/v6/p/m/avatars_notify/common.jpg" alt="">
                </a>
                <p>Khách thuê</p>
                <h4>{{rental_details.customerName}}</h4>
                <span>
                    <!-- customer rating by owner -->
                    <i class="fa-solid fa-star cl-star"></i>
                    <i class="fa-solid fa-star cl-star"></i>
                    <i class="fa-solid fa-star cl-star"></i>
                    <i class="fa-solid fa-star cl-star"></i>
                    <i class="fa-solid fa-star cl-star"></i>
                    <!-- <i class="fa-solid fa-star text-secondary"></i> -->
                </span>
            </div>
            <h3 class="renter__phone-title">Số điện thoại</h3>
            <p class="renter__phone" *ngIf="!isAcceptedRental()">**********</p>
            <p class="renter__phone" *ngIf="isAcceptedRental()">{{rental_details.customerPhone}}</p>
            <p *ngIf="!isAcceptedRental()">Số điện thoại liên hệ sẽ được hiển thị sau khi đồng ý yêu cầu cho thuê</p>
            <span>
                <i [class]="'fa-solid fa-square cl-'+getStatusClassname(rental_details.status)"></i> Trạng thái:
                {{getRentalStatus(rental_details.status)}}
            </span>
        </div>
        <div class="rental__details-column">
            <h2>Bảng tính giá</h2>
            <div class="table__price">
                <div class="d-flex-bo flex-wrap-bo table__row">
                    <div class="table__title">
                        <p>Đơn giá thuê</p>
                    </div>
                    <div class="table__data">
                        {{formatMoney(rental_details.price)}} / ngày
                    </div>
                </div>
                <div class="d-flex-bo flex-wrap-bo table__row">
                    <div class="table__title">
                        <p>Tổng phí thuê xe</p>
                    </div>
                    <div class="table__data">
                        {{formatMoney(rental_details.price)}} x
                        <strong>{{calculateDateDiff(rental_details.startDate,rental_details.endDate)}} ngày</strong>
                    </div>
                </div>
                <div class="d-flex-bo flex-wrap-bo table__row">
                    <div class="table__title">
                        <strong>Tổng cộng</strong>
                    </div>
                    <div class="table__data">
                        <strong>{{formatMoney(calculateTotalPrice(calculateDateDiff(rental_details.startDate,rental_details.endDate),rental_details.price))}}</strong>
                    </div>
                </div>
            </div>

            <div class="cancel__policy-container">
                <h2>Chính sách hủy chuyến</h2>

                <div class="cancel__policies">
                    <div class="cancel__policy">
                        - Thời điểm hủy chuyến <strong>
                            <=7 </strong> ngày trước khởi hành, phí hủy chuyến <strong>50%</strong> tiền đã trả.
                    </div>
                    <div class="cancel__policy">
                        - Thời điểm hủy chuyến <strong>
                            >7
                        </strong> ngày trước khởi hành, phí hủy chuyến
                        <strong>0%</strong> tiền đã trả.
                    </div>
                    <p class="small-note">* Tất cả các trường hợp hủy chuyến trong vòng <strong>1 giờ</strong> kể từ
                        thời điểm thuê
                        thành công sẽ không áp dụng việc tính Phí hủy chuyến</p>
                </div>
            </div>
        </div>
        <div class="rental__details-column pt-0">
            <div class="renter__money-col">
                <p>TIỀN ĐÃ TRẢ</p>
                <p class="primary-text">
                    {{formatMoney(calculateTotalPrice(calculateDateDiff(rental_details.startDate,rental_details.endDate),rental_details.price))}}
                </p>
            </div>
        </div>
    </div>
    <div class="btn__actions" *ngIf="isPending()">
        <button class="btn__decline" (click)="onDeclineRentalRequest()">Từ chối yêu cầu</button>
        <button class="btn__accept" (click)="onAcceptRentalRequest()">Đồng ý yêu cầu</button>
    </div>
</div>