<div class="sign-up__wrapper">
    <div class="sign-up__background"></div>
    <div class="form__wrapper">
        <form class="sign-up__form" [formGroup]="signUpFG">
            <div class="header">
                <h2>Đăng ký</h2>
                <div class="subtitle">Đăng ký để trở thành thành viên của Rental Car</div>
            </div>
            <div class="line-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput
                        placeholder="Ex. huynhgiahuy492@gmail.com"
                        formControlName="username" >
                    <mat-error *ngIf="usernameControl!.hasError('email') &&
                        !usernameControl!.hasError('required')">
                        Vui lòng nhập email hợp lệ
                    </mat-error>
                    <mat-error *ngIf="usernameControl!.hasError('required')">
                        Email <strong>không được để trống</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="line-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Vui lòng mật khẩu</mat-label>
                    <input type="password" matInput
                        placeholder="Nhập mật khẩu" formControlName="password">
                        <mat-error *ngIf="passwordControl!.hasError('required')">
                            Mật khẩu <strong>không được để trống</strong>
                        </mat-error>
                        <mat-error *ngIf="passwordControl!.hasError('invalidPassword')">
                            Mật khẩu phải chứa ít nhất <strong>một chữ hoa, số, kí tự đặc biệt</strong>
                        </mat-error>
                </mat-form-field>
            </div>
            <div class="line-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Vui lòng nhập lại mật khẩu</mat-label>
                    <input type="password" matInput
                        placeholder="Nhập lại mật khẩu"
                        formControlName="confirmPassword">
                        <mat-error *ngIf="confirmPasswordControl!.hasError('invalidPassword')">
                            Mật khẩu phải chứa ít nhất <strong>một chữ hoa, số, kí tự đặc biệt</strong>
                        </mat-error>
                    <mat-error *ngIf="confirmPasswordControl!.hasError('notMatch') && !confirmPasswordControl!.hasError('required') && !confirmPasswordControl!.hasError('invalidPassword')">
                        Mật khẩu không trùng khớp
                    </mat-error>
                    <mat-error *ngIf="confirmPasswordControl!.hasError('required')">
                        Mật khẩu <strong>không được để trống</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row m-gutters">
                <div class="col l-6">
                    <div class="line-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Họ và tên</mat-label>
                            <input type="text" matInput
                                placeholder="Ex: Huỳnh Gia Huy" formControlName="fullName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col l-6">
                    <div class="line-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Số điện thoại</mat-label>
                            <span matPrefix>+84 &nbsp;</span>
                            <input type="tel" matInput placeholder="0776425949"
                                formControlName="phone">
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                </div>
            </div>
        </div>
            <div class="d-flex-bo align-items-center-bo justify-content-center-bo">
                <a class="sign-up-btn" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Đăng ký
                </a>
            </div>
            <div class="separate__group">
                <span></span>
                <p>Tiếp tục với</p>
                <span></span>
            </div>
            <div class="more-connect__group">
                <div class="grid">
                    <div>
                        <button>
                            <img class="mr-r-10" src="https://cdn6.agoda.net/images/universal-login/google-logo-v2.svg" alt="">
                            Google
                        </button>
                    </div>
                    <div class="space m"></div>
                    <div class="row m-gutters">
                        <div class="col l-6">
                            <button>
                                <img class="mr-r-10" src="https://cdn6.agoda.net/images/universal-login/facebook-logo.svg" alt="">
                                Facebook
                            </button>
                        </div>
                        <div class="col l-6">
                            <button>
                                <img class="mr-r-10" src="https://cdn6.agoda.net/images/universal-login/apple-logo.svg" alt="">
                                Apple
                            </button>
                        </div>
                    </div>
                </div>
                <div class="separate__group">
                    <span></span>
                </div>
                <div class="grid">
                    <div>
                        <button id="signInButton">
                            Bạn đã có tài khoản? <span class="mr-l-5 cl-gem">Đăng nhập ngay!</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>