<div #signUpWrapper class="sign-up-wrapper">
    <div #signUp class="sign-up">
        <div class="form">
            <h2 style="text-align: center;">Đăng ký tài khoản</h2>
            <div class="form-field">
                <label for="sign-up-mail"><i class="fa fa-user"></i></label>
                <input id="sign-up-mail" type="text" name="mail" placeholder="Số điện thoại hoặc email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <svg>
                    <use href="#svg-check" />
                </svg>
            </div>
            <div class="form-field">
                <label for="name-of-user"><i class="fa fa-user"></i></label>
                <input id="name-of-user" type="text"  placeholder="Tên hiển thị"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <svg>
                    <use href="#svg-check" />
                </svg>
            </div>
            <div class="form-field">
                <label for="sign-up-password"><i class="fa fa-lock"></i></label>
                <input id="sign-up-password" type="password" name="password" placeholder="Mật khẩu" pattern=".{6,}" required>
                <svg>
                    <use href="#svg-check" />
                </svg>
            </div>
            <div class="form-field">
                <label for="sign-up-confirm-password"><i class="fa fa-lock"></i></label>
                <input id="sign-up-confirm-password" type="password" name="confirm-password" placeholder="Xác nhận mật khẩu" pattern=".{6,}" required>
                <svg>
                    <use href="#svg-check" />
                </svg>
            </div>
            <button (click)="onClickSignUp()"  class="button">
                <div class="arrow-wrapper">
                    <span  class="arrow"></span>
                </div>
                <p class="button-text">Đăng ký</p>
            </button>
            <div class="d-flex-bo justify-content-center-bo" style="font-size: 1.3rem">
                <span style="color: '#9596a2'; margin-bottom: 15px">Hoặc đăng nhập bằng tài khoản</span>
            </div>
            <div class="d-flex-bo align-items-center-bo justify-content-center-bo" style="margin: 0 40px 30px;">
                <button class="button social-btn facebook-btn">
                        <i class="fa-brands fa-facebook-f"></i>
                       facebook
                </button>
                <button class="button social-btn google-btn">
                    <i class="fa-brands fa-google-plus-g"></i>
                    google
            </button>
            </div>
        </div>
        <div class="finished">
            <svg>
                <use href="#svg-check" />
            </svg>
        </div>
    </div>
    
    
    <!-- //--- ## SVG SYMBOLS ############# -->
    <svg style="display:none;">
        <symbol id="svg-check" viewBox="0 0 130.2 130.2">
            <polyline points="100.2,40.2 51.5,88.8 29.8,67.5 " />
        </symbol>
    </svg>
</div>