<div #imageCarousel class="image-carousel">
    <div class="image-carousel__item-list-wrapper grid">
        <ul #imageCarouselList class="image-carousel__item-list row no-gutters
            no-wrap">
            <li #imageCarouselItem class="image-carousel__item col l-3 c-3"
                *ngFor="let item of itemList; index as idx">
                <div class="prominent-car-carousel-item-wrapper">
                    <div class="prominent-car-carousel-item" [style.borderColor]="primaryClr">
                        <div class="prominent-car-carousel-item__image">
                            <img src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/mazda_3_2020/p/g/2021/03/20/13/M7M_5xiTotPK8fEQPUhmEA.jpg"
                                alt="">
                        </div>
                        <div class="price-car">
                            950K
                        </div>
                    </div>
                    <div class="desc-car">
                        <div class="desc-car__name d-flex-bo">
                            <h2>MITSUBISHI OUTLANDER 2020</h2>
                            <i></i>
                        </div>
                        <div class="group-line n-rating">
                            <span class="star"></span>
                            <div class="star-ratings"></div>
                            <div class="dot-car"></div>
                            <div class="trips"></div>
                            <div class="certificate"></div>
                        </div>
                        <div class="group-label">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="location">
                            <p>
                                <i></i>
                                Quận Phú Nhuận, Hồ Chí Minh
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div #carouselArrowPrev class="carousel-arrow carousel-arrow--hint
        carousel-arrow--prev"[class.carousel-arrow--hidden]="sltIdx === 0"
        (click)="processCarousel('-')">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div #carouselArrowNext class="carousel-arrow carousel-arrow--hint
        carousel-arrow--next" [class.carousel-arrow--hidden]="isLastIdx"
        (click)="processCarousel('+')">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <ul class="carousel-dots" [class.carousel-dots--show]="carouselDotsActive">
        <li #carouselDotEleRef class="carousel-dot" *ngFor="let item of carouselParts, index as
            idx" [class.carousel-dot--active]="idx ===
            carouselService.currentPartIdx" (click)="sltDotCarousel(idx)" ></li>
    </ul>
</div>