<div class="home">
    <app-banner></app-banner>
    <app-promo>
    </app-promo>
    <app-prominent-place [primaryClr]="'var(--first-purple-color)'" [secondaryClr]="'var(--second-purple-color)'" [tertiaryClr]="'var(--third-purple-color)'">
        <div class="title-car"> ĐỊA ĐIỂM NỔI BẬT - XE TỰ LÁI</div>
        <div class="airport-note"> Giao xe <br> sân bay</div>
    </app-prominent-place>
    <app-prominent-place [primaryClr]="'var(--first-dark-cyan-color)'" [secondaryClr]="'var(--second-dark-cyan-color)'" [tertiaryClr]="'var(--third-dark-cyan-color)'">
        <div class="title-car"> ĐỊA ĐIỂM NỔI BẬT - XE CÓ TÀI XẾ
        </div>
        <div class="airport-note">Đưa đón <br> sân bay
        </div>
    </app-prominent-place>
    <app-owner></app-owner>
    <app-prominent-car>
        <div class="title-car"> XE NỔI BẬT - XE TỰ LÁI
        </div>
    </app-prominent-car>
</div>