<div class="d-flex-bo justify-content-center-bo align-items-center-bo flex-nowrap-bo bx__shadow pos-rel z-1">
    <a class="c-o-1 owner__nav-item" routerLink="/">
        <i class="fa-solid fa-car fs-200"></i>
        <span class="label__car">Danh sách xe</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/">
        <i class="fa-solid fa-calendar-days fs-200"></i>
        <span class="label__car">Lịch chung</span>
    </a>
    <a class="c-o-1 owner__nav-item active" routerLink="/car-owner/register/self-drive">
        <i class="fa-solid fa-circle-plus fs-200"></i>
        <span class="label__car">Đăng ký xe</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/">
        <i class="fa-solid fa-chart-line fs-200"></i>
        <span class="label__car">Thống kê</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/">
        <i class="fa-solid fa-file-signature fs-200"></i>
        <span class="label__car">Hợp đồng mẫu</span>
    </a>
</div>