@import "./assets/customize-style/common-style.scss";
@import "./assets/customize-style/flex-custom.scss";
@import "./assets/customize-style/grid.scss";
@import "./assets/customize-style/responsive.scss";
@import "./assets/customize-style/layout.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {
  --primary-color: black;
  --primary-text-color: white;
  --gemstone-color: #00a550;
  --gemstone-color-hover: rgb(0, 165, 79, 0.8);
  --first-purple-color: #5d5fef;
  --second-purple-color: #b4b5f8;
  --third-purple-color: #efeffe;
  --first-dark-cyan-color: #159093;
  --second-dark-cyan-color: #9acfd0;
  --third-dark-cyan-color: #f3f9f9;
  --secondary-color: #e8eaef;
  --white: #fff;
  --secondary-text: #a9aaad;
}

// reset
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: unset;
}
body {
  background-color: white;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

input {
  outline: none;
  border: none;
}

/* Common */
html,
body {
  height: 100%;
}

// app icon
i.icon-bo {
  display: inline-block;
  background-image: url("https://www.mioto.vn/static/media/main_sprites.a58f006e.png");
  background-repeat: no-repeat;
  background-size: 400px 400px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-indent: -9999px;
}
// customize material angular
