@import "./assets/customize-style/common-style.scss";
@import "./assets/customize-style/flex-custom.scss";
@import "./assets/customize-style/grid.scss";
@import "./assets/customize-style/responsive.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: black;
  --primary-text-color: white;
  --gemstone-color: #00a550;
  --second-gemstone-color: rgba(0,161,80,.8);;
  --first-purple-color: #5d5fef;
  --second-purple-color: #b4b5f8;
  --third-purple-color: #efeffe ;
  --first-dark-cyan-color: #159093;
  --second-dark-cyan-color: #9acfd0;
  --third-dark-cyan-color: #f3f9f9;
  --secondary-color: #e8eaef;
  --white: #fff;
  --secondary-text: #a9aaad;
}

// reset
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: unset;
}
body {
  background-color: white;
  margin: 0;
  font-family: "Sanomat Sans", "Encode Sans Expanded", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

input {
  outline: none;
  border: none;
}

/* Common */
html,
body {
  height: 100%;
}
