<div #login class="login">
    <div class="form">
        <h2>Đăng nhập</h2>
        <div class="form-field">
            <label for="login-mail" class="mr-r-5"><i class="fa fa-user"></i></label>
            <input id="login-mail" type="text" name="mail" placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <svg>
                <use href="#svg-check" />
            </svg>
        </div>
        <div class="form-field">
            <label for="login-password" class="mr-r-5"><i class="fa fa-lock"></i></label>
            <input id="login-password" type="password" name="password" placeholder="Mật khẩu" pattern=".{6,}" required>
            <svg>
                <use href="#svg-check" />
            </svg>
        </div>
        <div class="forget-password d-flex-bo flex-row-reverse-bo">
            <p (click)="onClickForgetPassword('400ms', '200ms')">Bạn quên mật khẩu?</p>
        </div>
        <button (click)="onClickLogin()" class="button">
            <div class="arrow-wrapper">
                <span class="arrow"></span>
            </div>
            <p class="button-text">Đăng nhập</p>
        </button>
        <div class="form-field forget-password d-flex-bo" style="margin-bottom: 10px">
            <span style="color: '#9596a2'" class="mr-r-5">Bạn chưa là thành viên?</span>
            <span routerLink="/sign-up" mat-dialog-close="true">Hãy đăng ký ngay!</span>
        </div>
        <div class="d-flex-bo justify-content-center-bo" style="font-size: 1.3rem">
            <span style="color: '#9596a2'; margin-bottom: 15px">Hoặc đăng nhập bằng tài khoản</span>
        </div>
        <div class="d-flex-bo align-items-center-bo justify-content-center-bo" style="margin: 0 40px 30px;">
            <button class="button social-btn facebook-btn">
                    <i class="fa-brands fa-facebook-f"></i>
                   facebook
            </button>
            <button class="button social-btn google-btn">
                <i class="fa-brands fa-google-plus-g"></i>
                google
        </button>
        </div>
    </div>
    <div class="finished">
        <svg>
            <use href="#svg-check" />
        </svg>
    </div>
</div>


<!-- //--- ## SVG SYMBOLS ############# -->
<svg style="display:none;">
    <symbol id="svg-check" viewBox="0 0 130.2 130.2">
        <polyline points="100.2,40.2 51.5,88.8 29.8,67.5 " />
    </symbol>
</svg>