<form class="sign-in__form" [formGroup]="signInFG">
    <div class="progress__wrapper">
        <mat-progress-bar mode="indeterminate"
            *ngIf="(progressBarService.isActive$ | async)"></mat-progress-bar>
    </div>
    <div class="header">
        <h2>Đăng nhập</h2>
    </div>
    <div class="line-form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput
                placeholder="Ex. huynhgiahuy492@gmail.com"
                formControlName="username">
            <mat-error *ngIf="usernameControl!.hasError('email') &&
                !usernameControl!.hasError('required')">
                Vui lòng nhập email hợp lệ
            </mat-error>
            <mat-error *ngIf="usernameControl!.hasError('required')">
                Email <strong>không được để trống</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="line-form" [style.margin-bottom]="'0px'">
        <mat-form-field>
            <mat-label>Vui lòng mật khẩu</mat-label>
            <input type="password" matInput
                placeholder="Nhập mật khẩu" formControlName="password">
            <mat-error *ngIf="passwordControl!.hasError('required')">
                Mật khẩu <strong>không được để trống</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex-bo align-items-center-bo justify-content-end-bo">
        <a>Quên mật khẩu?</a>
    </div>
    <div class="d-flex-bo align-items-center-bo
        justify-content-center-bo">
        <button class="sign-in-btn"
            (click)="onClickSignIn(signInFG.value)"
            [disabled]="signInFG.invalid">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Đăng nhập
        </button>
    </div>
    <div class="separate__group">
        <span></span>
        <p>Đăng nhập với</p>
        <span></span>
    </div>
    <div class="more-connect__group">
        <div class="grid">
            <div>
                <button>
                    <img class="mr-r-10"
                        src="https://cdn6.agoda.net/images/universal-login/google-logo-v2.svg"
                        alt="">
                    Google
                </button>
            </div>
            <div class="space m"></div>
            <div class="row m-gutters">
                <div class="col l-6">
                    <button>
                        <img class="mr-r-10"
                            src="https://cdn6.agoda.net/images/universal-login/facebook-logo.svg"
                            alt="">
                        Facebook
                    </button>
                </div>
                <div class="col l-6">
                    <button>
                        <img class="mr-r-10"
                            src="https://cdn6.agoda.net/images/universal-login/apple-logo.svg"
                            alt="">
                        Apple
                    </button>
                </div>
            </div>
        </div>
        <div class="separate__group">
            <span></span>
        </div>
        <div class="grid">
            <div>
                <button id="signUpButton" mat-dialog-close [routerLink]="['/sign-up']">
                    Bạn chưa là thành viên? <strong class="mr-l-5">Đăng ký ngay!</strong>
                </button>
            </div>
        </div>
    </div>
</form>