<div class="promo-detail__container">
        <h1 class="promo-title">Mã khuyến mãi</h1>
        <div>
        <div class="promo-detail__cover">
        </div>

        <div class="promo-detail__content">
            <div class="promo-detail__cover-detail">
                <div class="cover-image">
                    <img src="https://n1-cstg.mioto.vn/g/2018/03/17/16/52.jpg" alt="">
                </div>
                <div class="desc">
                    <h4>MI803</h4>
                    <p>Áp dụng từ <span>01/03/2023</span> đến <span>31/03/2023</span></p>
                </div>
            </div>
            <div class="promo-detail__body">
                <h3>Ưu đãi 10% (tối đa 100,000đ)</h3>
                <p>Giảm <span>10% (tối đa 100,000đ)</span> cho tất cả chuyến đi khi nhập mã:</p>
                <ul>
                    <li>Có giá trị đến hết ngày 31/03/2023. Chỉ áp dụng cho khách hàng nhận được thông báo.</li>
                    <li>Chương trình có thể kết thúc sớm hơn dự kiến khi hết số lượng khuyến mãi.</li>
                    <li>Không áp dụng chung với các chương trình khuyến mãi khác.</li>
                    <li>Mã chỉ áp dụng với phiên bản app mới nhất.</li>
                    <li>Mỗi chuyến đi chỉ được sử dụng 1 mã khuyến mãi.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
